.sellersLogo{
    width:3em;

}
.actionLogo{
    margin-right: 0.5em;
    margin-left: 0.5em;

}

.sellersContainer{
    text-align: right;
}
.create{
color: white;
font-size: 1.5em;
margin-bottom: 0.8em;
margin-right: 0.8em;
}

.create:hover{
    color: rgb(160, 160, 160);
    font-size: 1.5em;
    margin-bottom: 0.8em;
    margin-right: 0.8em;
    }