@font-face{
    font-family: bergenish;
    font-style: italic;
    font-size: 1.1rem !important;
    src: url("https://fonts.googleapis.com/css?family=Nunito");
}

.k-menu .k-item > .k-link{
   font-family: bergenish;
}