@font-face {
    font-family: MyHelvetica;
    src: local("Helvetica Neue Bold"),
         local("HelveticaNeue-Bold");
    font-weight: bold;
  }

.k-menu .k-item > .k-link{
   // font-family: "Bitstream Vera Serif Bold", serif;
      font-size: 1.5rem !important;
      color: rgb(196, 196, 196) !important;
      text-shadow:1px 1px 3px #005779;

}

.k-menu{
  //margin-right: 70em !important;
  text-align: left !important;

}
.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap{
border-radius: 10px;
background-image: linear-gradient(#f9fdff, #bef6fa) !important;
border: 2px solid #005779 !important;

}

.k-dropdown{
  height: 2.5em;
  width: 12.9em;
}

.k-dropdown-wrap .k-state-default{
  border-radius: 10px;
  background-image: linear-gradient(#f9fdff, #bef6fa) !important;
  border: 2px solid #005779 !important;
  
  }